<!--The whole content below can be removed with the new code.-->
<a name="top"></a>
<div style="text-align:center">
  <h1>
    You're about to start your {{title}}, are you ready?
  </h1>
  <img src="https://media.giphy.com/media/wodpFRUIOO4us/giphy.gif" alt="Error" style="width:204px;height:128px;">
  </div>
<div style="text-align:center">
  <p>In this, you'll be tested on addition and subtraction.</p>
</div>
<div style="text-align:center">
  <p>You're going to be give 2 minutes to answer a total of 20 questions.</p>
</div>
<div style="text-align:center">
  <p>You'll earn points based on the amount of questions you've got correct, the amount of answers you've answered in 2 minutes and the amount of time left if you finish fast.</p>
</div>
<div style="text-align:center">
  <button (click)="questions()" type="button" name="button"><h2>Click To Begin</h2></button>
</div>
<div style="text-align:center">

<div style="text-align:center">
  <form>
    <input (click)=division() type="checkbox" name="symbol" value="multiply" [disabled]="clickdivide" [checked]="clickdivide">Division
    <input (click)=multiply() type="checkbox" name="symbol" value="divide" [disabled]="clickmultiply" [checked]="clickmultiply">Multiplication
  </form>
</div>

<div style="text-align:center">
  <h3>Time Elapsed: {{t}}</h3>
  <h3>Score: {{score}}</h3>
</div>

</div>
<div style="text-align:center">
  <p style="text-align:center" *ngFor = "let q of questionlist; let i = index">
    {{i+1}}) {{q}} = <input [(ngModel)]="studAns[i]" name="studAns">
  </p>
</div>

<div style="text-align:center">
  <button (click)="marks()" type="button" name="mark"><h2>Mark</h2></button>
</div>
<br>
<div style="text-align:center">
  <h2>Scoreboard</h2>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Time Taken</th>
  </tr>
  <tr *ngFor="let x of scoreboard">
    <td>{{x.name}}</td>
    <td>{{x.score}}</td>
    <td>{{x.t}}</td>
  </tr>
</table>

<div style="text-align:center">
  <button><a href="#top">Back To Top</a></button>
</div>
